// This is where you can import other stylesheets or write your scss code
@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "mixins";

* {
  box-sizing: border-box !important;
}
$enable-responsive-font-sizes: true;
$grid-columns: 14;
$grid-gutter-width: 0px;
$color-passive: hsl(210, 100%, 20%);
$color-active: hsl(194, 100%, 47%);
$color-button: orange;
$font-header: "Orbitron";
$font-second: monospace;

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-header;
  @include font-shadow;
}

* {
  font-family: $font-second;
  color: rgb(54, 54, 54);
}
html {
  background-color: $color-active;
  height: 100%;
}

body {
  position: relative;
  width: 100%;
  height: 100vh;
  background-color: $color-active;
}

section {
  height: 90vh;
  background-color: $color-active;
}

.hero {
  margin-top: 150px;
}

.jumbotron {
  background-color: $color-active;
  & .display-4 {
    font-family: $font-header;
    color: $color-button;
    @include long-shadow(text, rgb(110, 72, 0), 5, false, true, right);
  }
  & .d-flex {
    background-color: $color-button;
    @include long-shadow(box, rgb(110, 72, 0), 5, false, true, right);
  }
  & .lead {
    @include font-shadow;
    color: $color-passive;
  }
}

#myScrollSpy {
  position: fixed;
  right: 0;
  height: 100vh;
  background-color: $color-passive;
}

.nav-link {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 50px;
  height: 50px;
  background-color: $color-button;
  transition: all 0.2s ease-in-out;
  transform: scale(0.7);
  padding: 20px;
  & i {
    font-size: 2.5vh;
    @include font-shadow;
    color: $color-passive;
    &:hover {
      color: $color-active;
    }
  }
}
.links {
  font-size: 1.4rem;
  & i {
    font-size: 3rem;
  }
  &:active {
    transform: scale(0.6);
    box-shadow: none;
  }
}

.active {
  transform: scale(0.9);
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.486),
    0px 0px 15px rgba(0, 0, 0, 0.534);
  & i {
    color: $color-active;
    text-shadow: 0px 0px 5px rgb(255, 255, 255);
  }
}

svg {
  overflow: hidden;
  & .red-bar {
    animation: first-svg-animation 0.8s linear infinite;
    @include delay(animation, 14, 0.2s);
    opacity: 0;
  }
  & .square {
    opacity: 0;
    animation: first-svg-animation 1s linear infinite;
  }
}
.img-svg2 {
  grid-row: 2 / span 4;
}
.gear {
  animation: turn 1s linear infinite;
  & .circle {
    opacity: 0;
  }
}
@keyframes first-svg-animation {
  to {
    opacity: 1;
  }
}

#projects {
  display: flex;
  justify-content: space-around;
  margin-top: 200px;
  & .projects-header {
    color: $color-passive;
    padding: 0;
    margin: 0;
  }
  & .projects-container {
    display: grid;
    grid-template: repeat(3, auto) / repeat(3, auto);
    height: 90%;
    width: 50%;
    & .pro {
      margin: 0;
      z-index: 3;
      position: relative;
      transform: scale(0.9);
      transition: all 0.3s ease-in-out;
      @include long-shadow(box, rgb(110, 72, 0), 5, false, true, right);
      & .after {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2em;
        width: 100%;
        transform: scaleY(0);
        transform-origin: bottom;
        background-color: $color-button;
        position: absolute;
        bottom: 0;
        transition: all 0.3s ease-in-out;
        & .pro-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          &:hover {
            text-decoration: none;
            & i {
              color: $color-active;
              font-size: 1.5vw;
            }
          }
          & i {
            padding: 5px;
          }
        }
      }

      & .before {
        width: 100%;
        transform: scaleY(0);
        transform-origin: top;
        background-color: $color-button;
        position: absolute;
        top: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        text-align: left;
        & .pro-text {
          font-size: 1.3vw;
        }
      }

      &:hover .after {
        height: 40%;
        transform: scaleY(1);
        content: "Go to page";
        color: orange;
      }
      &:hover .before {
        height: 60%;
        transform: scaleY(1);
        border-bottom: 3px solid $color-passive;
      }
    }
  }
  & .content-container {
    box-sizing: border-box;
    display: grid;
    align-items: center;
    grid-template-rows: repeat(6, auto);
    height: 90%;

    & .display-4 {
      font-family: $font-header;
      color: $color-button;
      @include long-shadow(text, rgb(110, 72, 0), 5, false, true, right);
      grid-row: 1;
    }
    & .icon-container {
      grid-row: 6;
      display: flex;
      justify-content: space-around;
      background-color: $color-button;
      @include long-shadow(box, rgb(110, 72, 0), 5, false, true, right);
      & i {
        font-size: 4.5vw;
        margin: 10px 0px;
      }
    }
  }
}

.project1 {
  background: url(../images/proccessing.gif);
  @include center-image;
}
.project2 {
  background: url(../images/bennys-burger.gif);
  @include center-image;
}

.project3 {
  background: url(../images/grid-message.gif);
  @include center-image;
}

.project4 {
  background: url(../images/responsive-hero.gif);
  @include center-image;
}
.project5 {
  background: url(../images/city-trips.gif);
  @include center-image;
}

.project6 {
  background: url(../images/kpi-list.gif);
  @include center-image;
}
.project7 {
  background: url(../images/ball-animation.gif);
  @include center-image;
}
.project8 {
  background: url(../images/author-card.gif);
  @include center-image;
}

.project9 {
  background: url(../images/random-bars.gif);
  @include center-image;
}

.project10 {
  background: url(../images/travel-form.gif);
  @include center-image;
}

@keyframes turn {
  to {
    transform: rotateZ(45deg);
  }
}

.headers {
  font-size: 4.5vw;
  font-family: $font-header;
  color: $color-button;
  @include long-shadow(text, rgb(110, 72, 0), 5, false, true, right);
}
